body {
  background-color: aquamarine;
  background-image: radial-gradient(circle, rgb(250, 181, 69)30%, rgb(155, 84, 51) 31%, rgb(195, 61, 8) 100%);
}

.container {
  color: rgb(255, 255, 255);
}

div.row {
  border: 70px solid rgba(200, 130, 83, 0.534);
  background-image: linear-gradient(to left, rgba(164, 180, 24, 0.301), rgba(55, 112, 112, 0.335));
  border-radius: 10px;
}
