body {
  background-color: darkorange;
  background-image: radial-gradient(circle, rgb(228, 139, 30) 80%, rgba(192, 1, 1, 0.657));
}

div.container {
  background-color: aquamarine;
  background-image: url("../img/pizzamonster.jpg");
  background-size: cover;
  border-radius: 40%;
}

.container {
  color: rgb(255, 255, 255);
}

div.row {
  border: 50px solid rgba(164, 175, 190, 0.274);
  background-color: rgba(121, 75, 75, 0.794);
  border-radius: 10%;
}

img {
  width: 100px;
  height: auto;
}